* {
	box-sizing: border-box;
	position: relative;
	margin: 0;
	padding: 0;
	image-rendering: pixelated;
}

:root {
	--font: sans-serif;
	--title-font: serif;

	--black: #0f0f0f;
	--white: #f0f0f0;
	--muted: #888888;
	--dark: #222222;

	--magenta: #bc87a5;
	--yellow: #eeb551;
	--green: #8b9150;
	--teal: #668da9;
	--red: #ca5954;

	--background: var(--black);
	--text-color: var(--white);
}

html {
	font-size: 16px;
	font-family: var(--font);
}
body {
	background: var(--background);
	color: var(--text-color);
}

/* -------------------- */
/* Utils */
/* -------------------- */

.flex {
	display: flex;
}
.flex-column {
	display: flex;
	flex-direction: column;
}
.row {
	display: flex;
	align-items: center;
}

.items-start { align-items: flex-start; }
.items-center { align-items: flex-center; }
.items-end { align-items: flex-end; }

.gap-1 { gap: 0.5rem; }
.gap-2 { gap: 1rem; }
.gap-3 { gap: 1.5rem; }
.gap-4 { gap: 2rem; }
.gap-5 { gap: 2.5rem; }
.gap-6 { gap: 3rem; }
.width-fill { width: 100%; }
.height-fill { height: 100%; }

.text-center { text-align: center; }
.muted { color: var(--muted); }
.text-yellow { color: var(--yellow); }

/* -------------------- */
/* Home */
/* -------------------- */

.feed {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 1rem;
}
.snippet {
	padding: 1rem;

	display: flex;
	flex-direction: column;
	align-items: flex-start;

	border: 1px solid var(--text-color);
	border-radius: 2px;
}

/* -------------------- */
/* Editor */
/* -------------------- */

.editor-page {
	--border-color: var(--text-color);

	width: 100%;
	height: 100vh;

	display: grid;
	grid-template-columns: 2fr 1fr;
	overflow: hidden;
}
.editor-container {
	height: 100%;

	display: flex;
	flex-direction: column;

	#editor-wrapper {
		flex: 1 0 auto;
		display: flex;
		flex-direction: column;

		.CodeMirror {
			flex: 1 0 auto;
		}
	}
}
.editor-sidebar {
	padding-left: 4px;

	display: flex;
	flex-direction: column;

	background: var(--background);
	border-left: 1px solid var(--muted);

	#editor-problems {
		padding: .5rem;
		height: 100%;

		display: flex;
		flex-direction: column;

		.info { animation: info-fade both 3s; }
		.error { color: #fb4934; }
		.note { city: 1; color: #8ec07c; }
	}

	> div:not(:last-child) {
		border-bottom: 1px solid var(--border-color);
	}
}
@keyframes info-fade {
	0%, 80% { opacity: 1; }
	100% { opacity: .25; }
}

#display-window {
	padding: .5rem;

	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: .5rem;
	z-index: 2;

	background-color: var(--white);
	color: var(--black);
	border: 1px solid var(--background);
	border-radius: 2px;
	outline: none;

	canvas {
		outline: 1px solid var(--background);
	}

	.display-stats {
		display: flex;
		align-items: center;
		user-select: none;
		line-height: 80%;
	}

	&:focus {
		background: var(--yellow);
	}
}

.statusbar {
	padding: 0.25rem 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	text-wrap: nowrap;

	border-top: 1px solid var(--muted);
	font-weight: 500;
	font-family: monospace;
	font-size: .8rem;

	.icon { filter: invert(1); }
}
.stats {
	font-family: monospace;
	font-size: .8rem;
}

.CodeMirror {
	--selection: rgba(255, 255, 255, 0.2);

	font-size: 1.1rem;

	.CodeMirror-lines {
		padding: 1rem;
		padding-bottom: 50vh;
	}
	.CodeMirror-vscrollbar {
		z-index: 1;
		visibility: visible !important;
	}
	* {
		min-width: unset !important;
	}
}
.CodeMirror, .CodeMirror-gutters {
	background: var(--background);
	color: var(--text-color);
}
.CodeMirror-cursor {
	width: 2px;
	background: var(--white);
	border: none;
}
.CodeMirror-gutters     { border-right: none; }
.CodeMirror-linenumber  { color: var(--muted); }
div.CodeMirror-selected { background: var(--selection) !important; }
.cm-tab {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAAAAXNSR0IB2cksfwAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAlwSFlzAAAuIwAALiMBeKU/dgAAAAd0SU1FB+oECQ4cKCrfo6MAAAAiSURBVCjPY2AY+uD/////KdbISKpJjIyMjLRzItl+GkIAAEodE/K1AppxAAAAAElFTkSuQmCC);
	background-position: left;
	background-repeat: no-repeat;
	opacity: .3;
}
.cm-trailingspace:not(:has(.cm-tab)) {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAQAAAAnOwc2AAAAAXNSR0IB2cksfwAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAlwSFlzAAAuIwAALiMBeKU/dgAAAAd0SU1FB+oECRQVMhfOxzYAAAAfSURBVAjXY2CgPmCEMf4zMPxnYGBkZGBgYGBioBMAAOkYAgSJTUGOAAAAAElFTkSuQmCC);
	background-position: left center;
	background-repeat: repeat-x;
	opacity: .3;
}

.cm-keyword { color: var(--magenta) !important; }
.cm-number, .cm-string { color: var(--yellow) !important; }
.cm-builtin, .cm-variable-2 { color: var(--teal) !important; }
.cm-comment { color: var(--muted) !important; }

/* -------------------- */
/* Snippet page */
/* -------------------- */

.snippet-page-container {
	gap: 1rem;
	align-items: flex-start;

	.CodeMirror {
		height: fit-content;
		font-size: 1rem;
	}
	.CodeMirror-lines { padding: 0 !important; }
	.CodeMirror-scroll { overflow: hidden !important; }
	.footer { margin-top: 1rem; }
}

.snippet-display-wrapper {
	width: 100%;

	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}
.snippet-display {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	align-self: center;
	gap: 0.5rem;

	user-select: none;
}

.snippet-display-controls {
	color: var(--muted);
	font-family: monospace;
	font-size: 0.8rem;
}

.flower-jar {
	width: 32px;
	height: 48px;

	margin-top: 1rem;

	background: url("/static/images/flower-jar.png");
	background-position: 0 0;

	cursor: pointer;
	transition: .2s;
	user-select: none;

	.tip {
		position: absolute;
		left: calc(100% + 10px);
		bottom: calc(100% - 10px);
		text-wrap: nowrap;
		pointer-events: none;

		.tip-loading {
			display: none;
		}

		&::before {
			content: "";

			width: 10px;
			height: 1px;

			position: absolute;
			right: 100%;
			bottom: 0;
			transform-origin: right top;
			rotate: -45deg;

			background: var(--muted);
		}
	}

	&.active {
		background-position: -32px 0;
	}
	&.htmx-request {
		opacity: 0.5;
		pointer-events: none;

		.tip-text { display: none; }
		.tip-loading { display: initial; }
	}
}
.flowers-pile {
	width: fit-content;
	padding: 0.75rem;
	padding-right: calc(0.75rem + 6px);

	display: flex;
	flex-wrap: wrap;

	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAQAAAAD+Fb1AAAAAXNSR0IB2cksfwAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAlwSFlzAAAOwwAADsMBx2+oZAAAAAd0SU1FB+oEChMbFqK0twIAAAAYSURBVAjXY+hoYGDoaGBgYIBQHQ0MGCIAlMQIQTlXEfYAAAAASUVORK5CYII=);

	> .icon {
		margin-right: -6px;
		margin-block: 0;
	}
}

.snippet-grid {
	width: 100%;

	display: grid;
	grid-template-columns: 3fr 2fr;
	gap: 2rem;
}

.snippet-comments {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.comment-form {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 0.5rem;
	transition: .3s;

	textarea {
		height: 160px;
	}

	&.htmx-request {
		opacity: 0.5;
		pointer-events: none;
	}
}

/* -------------------- */
/* Global */
/* -------------------- */

.container {
	width: 100%;
	max-width: 800px;
	padding: 0 10px;
	padding-top: 3rem;

	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.header {
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;
}
.footer {
	width: 100%;
	padding-block: 2rem;

	display: flex;
	justify-content: space-between;
	margin-top: 2rem;

	border-top: 1px dotted var(--muted);
}

#loader {
	width: 100%;
	height: 100%;

	z-index: 10;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	background: var(--background);

	transition: .1s;

	&.hidden {
		opacity: 0;
		pointer-events: none;
	}
}

.welcome-logo {
	width: 800px;
	height: 400px;

	left: 50%;
	translate: -50% 0;

	background-image: url("/static/images/ohmysmal.png");
	background-position: 0 0;
	background-size: 800px 1200px;

	animation: welcome-logo infinite step-start 1s;
}
@keyframes welcome-logo {
	0%, 100% { background-position: 0 0; }
	33% { background-position: 0 400px; }
	66% { background-position: 0 800px; }
}

.uxn-canvas {
	background: #000;
	image-rendering: pixelated;
	cursor: none;
}

h1, h2, h3, h4 {
	font-family: var(--title-font);
}

a {
	text-decoration: none;
	color: inherit;
	&:hover { text-decoration: underline; }
}

hr {
	width: 100%;
	height: 0;
	border: none;
	border-bottom: 1px dotted var(--muted);
}

.form {
	width: 100%;

	display: flex;
	flex-direction: column;
	gap: .5rem;

	button[type=submit] {
		width: 100%;
		margin-top: auto;
	}
}
form.htmx-request button[type=submit] {
	opacity: .5;
	pointer-events: none;
}
input {
	width: 100%;
	padding: .4em 0;

	font-family: var(--font);
	font-size: 1rem;
	background: transparent;
	color: var(--text-color);
	border: none;
	border-bottom: 1px dotted var(--text-color);
	outline: none;

	&::placeholder {
		color: var(--muted);
	}

	&:focus {
		border-bottom-style: solid;
	}
}
.button {
	padding: .25em .5em;

	font-family: var(--font);
	font-size: 1rem;
	background: var(--white);
	border: none;
	color: var(--black);
	border-radius: 2px;
	font-weight: 500;

	cursor: pointer;

	&:active {
		translate: 0 1px;
	}
	&.active {
		background: blue;
	}

	&.htmx-request {
		pointer-events: none;
		opacity: 0.5;
	}
}
button {
	text-wrap: nowrap;
}
textarea {
	width: 100%;
	padding: .5em;

	font-family: var(--font);
	font-size: 1rem;
	border: none;
	background: var(--dark);
	color: var(--text-color);
	border-radius: 2px;
	resize: vertical;
	outline: none;

	&:focus {
		border-color: var(--text-color);
	}
}
label > span {
	opacity: .5;
	font-size: .8rem;
}

.link-ish {
	cursor: pointer;
	color: inherit;
	&:hover { text-decoration: underline; }
}
button.link-ish {
	padding: 0;

	font-family: var(--font);
	font-size: 1rem;
	border: none;
	background: transparent;
}

.icon {
	--icon-size: 28px;

	width: var(--icon-size);
	height: var(--icon-size);
	margin-block: calc((16px - var(--icon-size)) / 2);
	margin-bottom: -8px;

	position: static;
	display: inline-block;

	background-image: url("/static/images/icons.png");
	background-position: 0 0;

	animation: icon infinite step-end 1s;

	&.icon-logout { --icon-index: 0; }
	&.icon-home   { --icon-index: 1; }
	&.icon-flower { --icon-index: 2; }
	&.icon-plane  { --icon-index: 3; }

	background-position: calc(var(--icon-index) * -1 * var(--icon-size)) 0;
}
@keyframes icon {
	0%, 100% { background-position: calc(var(--icon-index) * -1 * var(--icon-size)) 0; }
	25% { background-position: calc(var(--icon-index) * -1 * var(--icon-size)) calc(var(--icon-size) * -1); }
	50% { background-position: calc(var(--icon-index) * -1 * var(--icon-size)) calc(var(--icon-size) * -2); }
	75% { background-position: calc(var(--icon-index) * -1 * var(--icon-size)) calc(var(--icon-size) * -3); }
}
