package view

import (
	"fmt"

	"ohmysmal/server"
)

templ AdminPanelPage(user server.User, snippets []server.Snippet, stats server.WebsiteStats) {
	{{ maybeUser := server.MaybeUser{User: user, Ok: true} }}

	@page() {
		@pageHead("admin panel")
		@pageBody() {
			<div class="container panel-container">
				@header(maybeUser)

				<div class="website-stats">
					@WebsiteStat(stats.UsersCount, "users", "users-stat.png")
					@WebsiteStat(stats.SnippetsCount, "snippets", "snippets-stat.png")
					@WebsiteStat(stats.FlowersCount, "flowers", "flowers-stat.png")
					@WebsiteStat(stats.CommentsCount, "comments", "comments-stat.png")
				</div>

				@reportedSnippetsTable(snippets)

				@footer()
			</div>
		}
	}
}

templ reportedSnippetsTable(snippets []server.Snippet) {
	<div class="flex-column gap-2">
		<h2>Reported snippets</h2>

		<table>
			<tr>
				<th>#</th>
				<th>Snippet</th>
				<th>Reports</th>
			</tr>
			for idx, s := range snippets {
				<tr>
					<td class="muted">{idx + 1}</td>
					<td>
						<a href={ fmt.Sprintf("/snippet?id=%s", s.Id) }>{s.Title}</a>
						&#160;
						@Nickname(s.AuthorNickname, "muted")
					</td>
					<td>{s.Reports}</td>
				</tr>
			}
		</table>
	</div>
}
